.Rproj.user
.Rhistory
.RData
.Ruserdata

.Rprofile
renv

.DS_Store

extra/Credentials.R

Documents/Protocol/Protocol.html
Documents/Protocol/Protocol.pdf
Documents/Protocol/Protocol.tex
Documents/Protocol/Protocol_files/

Documents/Manuals/OperationsManual.html
Documents/Manuals/OperationsManual.pdf
Documents/Manuals/OperationsManual.tex
Documents/Manuals/OperationsManual_files/

Documents/Protocol/BmjOpen.tex
Documents/Protocol/BmjOpen.pdf
Documents/Protocol/BmjOpen_files/

Documents/Protocol/MedRxiv.tex
Documents/Protocol/MedRxiv.pdf
Documents/Protocol/MedRxiv_files/

*.out
*.toc
*.fff
*.ttt
*.log
*.aux

MedRxiv.pdf
BmjOpen.pdf
Protocol.html
Protocol.pdf

ignore

inst/sql/sql_server/class/*
inst/cohorts/class/*
